@import "variables";

.about-product {
  width: 100%;
  .base-padding();

  &-wrp {
    float: left;
    width: 650px;
  }

  &-title {
    font-size: @big-font;
    color: @bg-color;
    .no-margins();
  }

  &-txt {
    font-size: @small-font;
    color: @txt-color-grey;
  }

  &-video {
    float: right;
    background-color: @bg-color;
  }
}