body {
    margin: 0;
    font-family: arial, sans-serif;
}

:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.container {
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

.page-header {
    width: 100%;
    padding: 50px;
    background-color: #445162;
    box-sizing: border-box;
    color: #fff;
}

.page-header-wrp {
    float: left;
}

.page-header-title {
    margin: 0 0 30px 0;
}

.page-header-list {
    margin: 0;
    padding: 0;
}

.page-header-list-item {
    padding: 0 0 0 35px;
    list-style-type: none;
    position: relative;
    font-size: 20px;
    margin-bottom: 13px;
}

.page-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 2px;
    left: 0;
    background-image: url('../img/check_icon.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.page-header-pic {
    display: block;
    width: 470px;
    min-height: 100px;
    background-color: #fff;
    float: right;
}

.content {

}

.about-product {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.about-product-wrp {
    float: left;
    width: 650px;
}

.about-product-title {
    font-size: 30px;
    color: #445161;
    margin: 0;
    padding: 0;
}

.about-product-txt {
    font-size: 16px;
    color: #333333;
}

.about-product-video {
    float: right;
    background-color: #445161;
}

.dignity {
    width: 100%;
    padding: 50px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.dignity-title {
    margin: 0 0 27px 0;
    text-align: center;
    font-size: 30px;
    color: #445161;
    line-height: 1.2;
}

.dignity-list {
    width: 568px;
    margin: 0;
    padding: 0 0 0 46px;
    list-style-type: none;
    float: left;
    box-sizing: border-box;
}

.dignity-list:nth-of-type(2) {
    margin-left: 22px;
}

.dignity-list-item {
    margin: 0 0 35px 0;
    position: relative;
    font-size: 16px;
    color: #333333;
}

.dignity-list:nth-of-type(1) > .dignity-list-item:nth-child(3),
.dignity-list:nth-of-type(2) > .dignity-list-item:nth-child(3) {
    margin: 0;
}

.dignity-list-item:before {
    content: "+";
    display: block;
    width: 33px;
    height: 33px;
    background-color: #445161;
    color: white;
    font-size: 28px;
    text-align: center;
    line-height: 32px;
    position: absolute;
    top: 5px;
    left: -46px;
}
