@import "variables";

//@font-face {
//  font-family: raleway;
//  src: url("");
//}

body {
  margin: 0;
  font-family: @font-headings;
}

.container {
  max-width: @width;
  margin: 0 auto;
  .box-size();
}

.grid {
  .grid();
}