body {
  margin: 0;
  font-family: Raleway, arial, sans-serif;
}
.container {
  width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
}
.grid {
  width: 1230px;
  margin: 0 auto;
  padding: 40px 30px;
  box-sizing: border-box;
}
header:after,
section:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.header {
  background-color: rgba(17, 17, 17, 0.7);
  background-image: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url('../img/bg_header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 1024px;
  position: relative;
}
.header-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-nav-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 185px;
  text-decoration: none;
  background-color: transparent;
  color: #fff;
}
.header-nav-logo-icon {
  fill: currentColor;
}
.header-nav-logo-txt {
  font-family: Raleway, arial, sans-serif;
  font-size: 34px;
  font-weight: 400;
  text-align: right;
  line-height: 1.2;
  letter-spacing: -0.04em;
}
.header-nav-logo:hover .header-nav-logo-icon {
  fill: #c7b299;
}
.header-nav-logo:hover .header-nav-logo-txt {
  color: #c7b299;
}
.header-nav-logo:active .header-nav-logo-icon {
  fill: #555555;
}
.header-nav-logo:active .header-nav-logo-txt {
  color: #555555;
}
.header-nav-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0 50px 0 210px;
}
.header-nav-menu-item {
  font-size: 14px;
  font-family: Montserrat, verdana, sans-serif;
  line-height: 1.2;
  font-weight: 300;
  margin-right: 30px;
}
.header-nav-menu-item:last-of-type {
  margin-right: 0;
}
.header-nav-menu-item-link {
  text-decoration: none;
  color: #fff;
}
.header-nav-menu-item-link:hover {
  color: #c7b299;
}
.header-nav-menu-item-link:active {
  color: #555555;
}
.header-nav-cart {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  margin-right: 25px;
}
.header-nav-cart-icon {
  fill: currentColor;
}
.header-nav-cart:hover .header-nav-cart-icon {
  fill: #c7b299;
}
.header-nav-cart:active .header-nav-cart-icon {
  fill: #555555;
}
.header-nav-search {
  color: #fff;
  display: flex;
  cursor: pointer;
  position: relative;
}
.header-nav-search-icon {
  fill: currentColor;
}
.header-nav-search:hover .header-nav-search-icon {
  fill: #c7b299;
}
.header-nav-search:active .header-nav-search-icon {
  fill: #555555;
}
.header-nav-search-input {
  width: 1px;
  background: transparent;
  outline: none;
  border: none;
  border-radius: 3px;
  position: absolute;
  left: 30px;
  top: -3px;
  font-size: 16px;
  font-family: Montserrat, verdana, sans-serif;
  padding: 5px;
}
.header-nav-search-input:focus {
  width: 150px;
  transition: width 200ms ease-out;
  background-color: #555555;
  color: white;
}
.header-nav-search-input:focus::-webkit-search-cancel-button {
  display: none;
}
.header-slogan-smaller {
  font-family: inherit;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
  margin: 285px 0 15px;
  text-align: center;
}
.header-slogan-bigger {
  font-family: inherit;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  color: #fff;
  margin: 0 0 20px;
  text-align: center;
}
.header-slogan-txt {
  font-family: Montserrat, verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #fff;
  margin: 0 300px 50px;
  text-align: center;
  line-break: anywhere;
}
.header-get-started-btn {
  display: flex;
  margin: 0 auto;
  padding: 10px;
  width: 170px;
  height: 53px;
  background-color: #998675;
  color: #fff;
  box-shadow: inset 0px -3px 0px 0px #736357;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
}
.header-get-started-btn:hover {
  background-color: #c7b299;
  color: #555555;
}
.header-get-started-btn:active {
  background-color: #555555;
  color: #c7b299;
}
.header-get-started-btn-txt {
  font-family: Raleway, arial, sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  margin: auto;
}
.header-slider-arrow-right {
  display: block;
  width: 50px;
  height: 50px;
  margin: 30px;
  border: none;
  border-top: 2px solid #d3c1ad;
  border-right: 2px solid #d3c1ad;
  transform: rotate(45deg);
  position: absolute;
  top: 46%;
  right: 7%;
}
.header-slider-arrow-right:hover {
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
}
.header-slider-arrow-right:active {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  opacity: 0.5;
}
.header-slider-arrow-left {
  display: block;
  width: 50px;
  height: 50px;
  margin: 30px;
  border: none;
  border-top: 2px solid #d3c1ad;
  border-left: 2px solid #d3c1ad;
  transform: rotate(-45deg);
  position: absolute;
  top: 46%;
  left: 7%;
}
.header-slider-arrow-left:hover {
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
}
.header-slider-arrow-left:active {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  opacity: 0.5;
}
.header-pagination {
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin: 325px auto 0;
}
.header-pagination-item {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid transparent;
  opacity: 0.5;
}
.header-pagination-item:hover {
  background-color: transparent;
  border: 2px solid #d3c1ad;
  transform: scale(1.2);
  opacity: 1;
}
.header-pagination-item:active {
  background-color: #fff;
  transform: scale(0.7);
}
